<mat-stepper #stepperPPS [linear]=true>
  <!--Primo step in cui chiedo le informazioni base-->
  <mat-step [stepControl]="preliminariForm" errorMessage="Le informazioni preliminari sono necessarie!">
    <ng-template matStepLabel>Informazioni Preliminari</ng-template>
    <form class="formVerticaleFullWidth" [formGroup]="preliminariForm" #preliminare="ngForm">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Corso Di Studio</mat-label>
        <mat-select formControlName=corsiDiStudioCtrl required>
          <mat-option *ngFor="let corso of corsiDiStudio" [value]="corso">
            {{corso.denominazione}} - {{corso.codice}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Coorte</mat-label>
        <input matInput type="number" formControlName=coorteCtrl required>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;" *ngIf="curricula.length!=0">
        <mat-label>Curriculum</mat-label>
        <mat-select formControlName=curriculumCtrl required>
          <mat-option *ngFor="let curriculum of curricula" [value]="curriculum">
            {{curriculum}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary" [disabled]="!preliminariForm.valid" matStepperNext>Avanti</button>
      </div>
    </form>
  </mat-step>


  <!--Secondo step orientamento se presente-->
  <mat-step *ngIf="thereIsOrientamento">
    <ng-template matStepLabel>Insegnamenti Obbligatori</ng-template>
    <app-OrientamentoPPS [coorte]="coorte" [codiceCorsoDiStudio]="codiceCorsoDiStudio"
      (addOrientamento)="addOrientamento($event)" (valid)="addValid($event)"
      (thereIsOrientamento)="isThereOrientamento($event)"></app-OrientamentoPPS>
    <div>
      <button mat-flat-button color="primary" style="margin-left: 2%;" matStepperPrevious>Indietro</button>
      <button mat-flat-button color="primary" style="margin-left: 2%;" [disabled]="!valid"
        matStepperNext>Avanti</button>
    </div>
  </mat-step>

  <!--Terzo step insegnamenti a scelta -->
  <mat-step>
    <ng-template matStepLabel>Insegnamenti A Scelta</ng-template>
    <app-InsegnamentiASceltaPPS [coorte]="coorte" [codiceCorsoDiStudio]="codiceCorsoDiStudio" [curriculum]="curriculum"
      (newInsegnamento)="addInsegnamento($event)" (removeInsegnamento)="removeInsegnamento()">
    </app-InsegnamentiASceltaPPS>
    <div>
      <button mat-flat-button color="primary" style="margin-left: 2%;" matStepperPrevious>Indietro</button>
      <button mat-flat-button color="primary" style="margin-left: 2%;" matStepperNext>Avanti</button>
    </div>
  </mat-step>



  <!--Step finale in cui invio la regola-->
  <mat-step>
    <ng-template matStepLabel>Aggiungi PPS</ng-template>
    <div>
      <button mat-flat-button color="primary" matStepperPrevious style="margin-left: 2%;">Indietro</button>
      <button mat-flat-button color="primary" style="margin-left: 2%;" (click)="addPPS()">Inserisci PPS</button>
    </div>
  </mat-step>
</mat-stepper>