/* Structure */
table {
    width: 80%;
}

.mat-form-field {
    font-size: 14px;
    width: 80%;
}

.centra{
    display: flex;
    flex-direction: column;
    align-items: center;
}
tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }